# This is only used for dependabot and Travis CI
-r acme/readthedocs.org.requirements.txt
-r certbot/local-oldest-requirements.txt
-r certbot/readthedocs.org.requirements.txt
-r tools/certbot_constraints.txt
-r tools/dev_constraints.txt
-r tools/oldest_constraints.txt
-r tools/pipstrap_constraints.txt
-r certbot-apache/readthedocs.org.requirements.txt
-r certbot-dns-cloudflare/local-oldest-requirements.txt
-r certbot-dns-cloudflare/readthedocs.org.requirements.txt
-r certbot-dns-cloudxns/local-oldest-requirements.txt
-r certbot-dns-cloudxns/readthedocs.org.requirements.txt
-r certbot-dns-digitalocian/local-oldest-requirements.txt
-r certbot-dns-digitalocian/readthedocs.org.requirements.txt
-r certbot-dns-dnsimple/local-oldest-requirements.txt
-r certbot-dns-dnsimple/readthedocs.org.requirements.txt
-r certbot-dns-dnsmadeeasy/local-oldest-requirements.txt
-r certbot-dns-dnsmadeeasy/readthedocs.org.requirements.txt
-r certbot-dns-gehirn/local-oldest-requirements.txt
-r certbot-dns-gehirn/readthedocs.org.requirements.txt
-r certbot-dns-google/local-oldest-requirements.txt
-r certbot-dns-google/readthedocs.org.requirements.txt
-r certbot-dns-linode/local-oldest-requirements.txt
-r certbot-dns-linode/readthedocs.org.requirements.txt
-r certbot-dns-luadns/local-oldest-requirements.txt
-r certbot-dns-luadns/readthedocs.org.requirements.txt
-r certbot-dns-nsone/local-oldest-requirements.txt
-r certbot-dns-nsone/readthedocs.org.requirements.txt
-r certbot-dns-ovh/local-oldest-requirements.txt
-r certbot-dns-ovh/readthedocs.org.requirements.txt
-r certbot-dns-rfc2136/local-oldest-requirements.txt
-r certbot-dns-rfc2136/readthedocs.org.requirements.txt
-r certbot-dns-route53/local-oldest-requirements.txt
-r certbot-dns-route53/readthedocs.org.requirements.txt
-r certbot-dns-sakuracloud/local-oldest-requirements.txt
-r certbot-dns-sakuracloud/readthedocs.org.requirements.txt
-r certbot-nginx/local-oldest-requirements.txt
